.Chatroom {
  display: grid;
  min-height: 100vh;
  nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.35em 0.5em 1em;
    h1 {
      margin: 0;
    }
    button {
      display: inline-block;
      padding: 0 0.35em;
      border: none;
      border-radius: 0.5rem;
      outline: none;
      cursor: pointer;
    }
  }
  &__log {
    align-self: flex-end;
    width: calc(min(70.5rem, 95%));
    margin: 0 auto;
    .loading {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  form {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5em;
    textarea {
      position: relative;
      font-family: $chat-font;
      font-size: 100%;
      flex-basis: 100%;
      padding: 0.95em 0.85em 0 0.85em;
      border: none;
      outline: none;
      background: $bg-light;
      border-radius: 1.5em;
      line-height: 1.1;
      resize: none;
      &.dark {
        color: $white;
        &::placeholder {
          color: rgba($white, $alpha: 0.35);
        }
      }
      &.light {
        color: $black;
      }
    }
    button {
      display: inline-block;
      font-size: 2em;
      margin-inline-start: 0.25em;
      background: none;
      border: none;
      cursor: pointer;
      &:disabled {
        opacity: 0.35;
      }
    }
  }
}
