.message {
  font-family: $chat-font;
  font-weight: 700;
  font-size: clamp(1rem, calc(0.85rem + 1vw),1.5rem);
  display: flex;
  margin: 0.6em 0;
  .text {
    max-width: 70%;
    padding: 0.25em 0.5em;
    border-radius: 1em;
    // word-break: break-all;
    hyphens: auto;
  }
  img {
    height: 30px;
    width: 30px;
    margin-inline-end: 0.45em;
    border-radius: 50%;
    align-self: center;
  }

  &.sent {
    justify-content: flex-end;
    img {
      order: 2;
      margin: 0;
      margin-inline-start: 0.45em;
    }
    .text {
      border-top-right-radius: unset;
      background-color: $primary;
    }
  }
  &.recieve {
    .text {
      background: darken(rgba($white, 0.5), 30%);
      border-top-left-radius: unset;
    }
  }
}
