.Login {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: lighten($bg-gray-light, 15%);
  overflow: hidden;
  
  h1 {
    text-align: center;
    font-family: $logo-font;
    font-size: clamp(1rem, calc(2rem + 1vw), 3rem);
    color: $bg-dark;
    text-transform: capitalize;
  }

}
