@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Supermercado+One&display=swap');

$black: #333;
$white: hsl(0 , 0, 100%);
$primary: hsl(25, 69%, 46%);

$bg-dark: #171717;
$bg-light: rgba(179, 179, 179, 0.5);
$bg-slider-dark: #515355;
$bg-slider-light: #ccc;
$clr-facebook: #3b5998;
$clr-font-500: #757575;

// fonts
$logo-font: 'Supermercado One', cursive;
$chat-font: 'Cairo', sans-serif;